/.vs/TORO.VMPS/DesignTimeBuild
/.vs/TORO.VMPS/v16/Server/sqlite3/*.lock
/.vs/TORO.VMPS/v16/Server/sqlite3/*.ide
/.vs/TORO.VMPS/v16/Server/sqlite3/*.ide-shm
/.vs/TORO.VMPS/v16/Server/sqlite3/*.ide-wal
/TORO.VMPS.DAL/obj/Debug/netcoreapp3.1/*.CopyComplete
/TORO.VMPS.DAL/bin
/TORO.VMPS.DAL/obj
/TORO.VMPS.DAL/bin/Debug/netcoreapp3.1/TORO.VMPS.DAL.deps.json
/TORO.VMPS.DAL/obj/Debug/netcoreapp3.1/TORO.VMPS.DAL.csproj.FileListAbsolute.txt
/TORO.VMPS.DAL/obj/TORO.VMPS.DAL.csproj.nuget.dgspec.json
/TORO.VMPS.DAL/obj/project.assets.json
/TORO.VMPS.IBLL/bin/Debug/netcoreapp3.1/TORO.VMPS.IBLL.deps.json
/TORO.VMPS.IBLL/obj/Debug/netcoreapp3.1/TORO.VMPS.IBLL.csproj.FileListAbsolute.txt
/TORO.VMPS.IBLL/obj/TORO.VMPS.IBLL.csproj.nuget.dgspec.json
/TORO.VMPS.IBLL/obj/project.assets.json
/TORO.VMPS.IDAL/obj/Debug/netcoreapp3.1/TORO.VMPS.IDAL.csproj.FileListAbsolute.txt
/TORO.VMPS/obj/Debug/netcoreapp3.1/TORO.VMPS.csproj.FileListAbsolute.txt
/TORO.VMPS/obj/project.assets.json
TORO.VMPS/obj/TORO.VMPS.csproj.nuget.cache
TORO.VMPS/obj/Debug/netcoreapp3.1/TORO.VMPS.csprojAssemblyReference.cache
TORO.VMPS/obj/Debug/netcoreapp3.1/TORO.VMPS.assets.cache
TORO.VMPS/obj/Debug/netcoreapp3.1/TORO.VMPS.AssemblyInfoInputs.cache
TORO.VMPS.Utilities/obj/TORO.VMPS.Utilities.csproj.nuget.cache
TORO.VMPS.Utilities/obj/Debug/netcoreapp3.1/TORO.VMPS.Utilities.csprojAssemblyReference.cache
TORO.VMPS.Utilities/obj/Debug/netcoreapp3.1/TORO.VMPS.Utilities.assets.cache
TORO.VMPS.Utilities/obj/Debug/netcoreapp3.1/TORO.VMPS.Utilities.AssemblyInfoInputs.cache
TORO.VMPS.IDAL/obj/TORO.VMPS.IDAL.csproj.nuget.cache
TORO.VMPS.IDAL/obj/Debug/netcoreapp3.1/TORO.VMPS.IDAL.csprojAssemblyReference.cache
TORO.VMPS.IDAL/obj/Debug/netcoreapp3.1/TORO.VMPS.IDAL.assets.cache
TORO.VMPS.IDAL/obj/Debug/netcoreapp3.1/TORO.VMPS.IDAL.AssemblyInfoInputs.cache
TORO.VMPS.IBLL/obj/TORO.VMPS.IBLL.csproj.nuget.cache
TORO.VMPS.IBLL/obj/Debug/netcoreapp3.1/TORO.VMPS.IBLL.csprojAssemblyReference.cache
TORO.VMPS.IBLL/obj/Debug/netcoreapp3.1/TORO.VMPS.IBLL.assets.cache
TORO.VMPS.IBLL/obj/Debug/netcoreapp3.1/TORO.VMPS.IBLL.AssemblyInfoInputs.cache
TORO.VMPS.BLL/obj/TORO.VMPS.BLL.csproj.nuget.cache
TORO.VMPS.BLL/obj/Debug/netcoreapp3.1/TORO.VMPS.BLL.csprojAssemblyReference.cache
TORO.VMPS.BLL/obj/Debug/netcoreapp3.1/TORO.VMPS.BLL.assets.cache
TORO.VMPS.BLL/obj/Debug/netcoreapp3.1/TORO.VMPS.BLL.AssemblyInfoInputs.cache
.vs/TORO.VMPS/v16/.suo
